*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    font-family: Roboto,sans-serif;
    background-image: url(background.jpg);image.png 
    background-repeat: no-repeat;
    /* background-color: black; */
}


#form-container{
    display: flex;
    background-position: center 85%;
    justify-content:center ;
    height: 80vh;
    margin-top: 10rem;
}

#blue-container{
    background-color:#2874f0;
    display: flex;
    flex-direction: column;
    color: white;
    width: 20%;
    padding: 10px 33px;
    font-size: 15px;
    background-position: center 85%;
}

#heading-id h1{
    padding-top: 0.5rem;
}

#heading-id p{
    padding-top: 1.5rem;
    line-height: 1.5rem;
}

#footer{
    margin-top: 10rem;
    text-align: center;
}

/* ------------------------------------------------------------------------------------------------- */


#white-container{
    background-color: #fff;
    position: relative;
    width: 30%;
    padding: 10px 33px;
}

#login-info-1 input{
    padding: 0.9rem 1rem;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}

#login-info-2 input{
    padding: 0.9rem 1rem;
    outline: none;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
    
}
#login-info-2 a{
    color: #2874f0;
}

#para-id p{
    margin-top: 2rem;
    font-size: 11px;
    color: gray;
    cursor: pointer;
}
#para-id a{
    color: #2874f0;
    cursor: pointer;
}

 #button-1 input {
    /* margin: 10px; */
    outline: none;
    cursor: pointer;
    background: #fb641b;
    border-color: #fb641b;
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 9px;
    padding: 9px 8.5rem;
    color: white;
} 

#or-id p{
    text-align: center;
    margin: 1rem;
    font-size: small;
}

#button-2 input{
    margin-top: 1rem;
    color:#2874f0;
    font-weight: 500;
    font-size: 15px;
    transition: 0.5s;
    margin-top: 9px;
    padding: 9px 6.8rem;
    border: none;
    background-color: white;
    box-shadow: 2px 1px 5px 0 rgba(0, 0, 0, 0.2);
}

#link-id{
    margin-top: 8rem;
    text-align: center;
    font-size: 15px;

}
#link-id a{
    color: #2874f0;
}