body {
    background-color: red;
}
#gridcontainer {
    background-color: yellow;
    height: 80vh;
    padding: 1rem;

    display: grid;

    /*grid-template-columns: 33%,33%,33%;*/
    grid-template-columns: 2fr,1fr,1fr;
    gap: 0.5rem;
}
.box {
    background-color: purple;
    color: white;
    font-size: 2rem;
}
#box10 {
    grid-column-start: 1;
    grid-column-end: 4;

    grid-row-start: 3;
    grid-row-end: 5;
}
#box7 {
    grid-column: 3/4;
    grid-row: 1/4;
}